.App {
  text-align: center;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 100vh;
  background: #116c8d;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}



h1{
  font-size: 100px !important;
  font-weight: 800 !important;
  color: #fff;
}


h3{
  font-size: 30px !important;
  color: #fff;
}

.center{
  display: flex;
  flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;

}